@import "/mixins";

html {
  background-color: #ffebcd;
  font-family: "Quicksand", sans-serif;
}

.wrapper {
  margin: 40px;
  @include tablet {
    margin: 60px;
  }
  @include desktop {
    margin: 80px;
  }
}

.title {
  text-align: center;
  font-size: 45px;
}

.profile-img {
  width: 150px;
  left: 36px;
  top: 36px;
}
