html {
  background-color: #ffebcd;
  font-family: "Quicksand", sans-serif;
}

.wrapper {
  margin: 90px;
}

.title {
  text-align: center;
  font-size: 45px;
}

.profile-img {
  width: 150px;
  left: 36px;
  top: 36px;
}
