.arrival__button{
    background-color: #FFEBCD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40vh;
    width: 500px;
    height: 300px;
    font-size: 100px;
    border: 5px solid black;
    border-radius: 20%;
}.arrival__button:hover{
    background-color: black;
    color: #FFEBCD; ;
}

