@import "/mixins";

.wrapper_contact {
  margin: 20px;
  @include tablet {
    margin: 60px;
  }
  @include desktop {
    margin: 80px;
  }
}

.contact {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-input {
      width: 400px;
      margin: 10px;
      padding: 10px;
      font-size: 20px;
      border: 2px solid black;
    }
    &-label {
      font-size: 25px;
      margin: 10px;
      text-align: left;
    }
    textarea {
      height: 100px;
    }
  }
}

.button_send {
  width: 200px;
  height: 50px;
  border: 3px solid black;
  background-color: #ffebcd;
  margin-top: 25px;
  font-size: 25px;
}
.button_send:hover {
  background-color: black;
  color: #ffebcd;
}

.hidden {
  visibility: hidden;
}

.button_thanks {
  width: 200px;
  height: 50px;
  border: 3px solid black;
  background-color: #ffebcd;
  font-size: 25px;
}
.button_thanks:hover {
  background-color: black;
  color: #ffebcd;
}
