@import "/mixins";

.cv {
  margin: 50px;
  &__work {
    text-align: center;
  }
  &__body {
    @include desktop {
      margin: 45px;
    }
  }
  &__languages {
    text-align: center;
  }
  .french {
    padding-top: 15px;
  }
  &__title {
    font-size: 25px;
    text-align: center;
    @include desktop {
      font-size: 45px;
    }
  }
}

.subtitle {
  font-size: 25px;
  @include desktop {
    font-size: 35px;
  }
}

.experience {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.first-letter {
  font-size: 35px;
}

.appear-left {
  position: relative;
  animation: appear-left-animation 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes appear-left-animation {
  0% {
    left: -100%;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.appear-right {
  position: relative;
  animation: appear-right-animation 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes appear-right-animation {
  0% {
    right: -100%;
    top: 0px;
  }
  100% {
    right: 0px;
    top: 0px;
  }
}

.company {
  padding-top: 15px;
}
