.cv{
  margin:50px;
  &__body {
    margin:45px;
  }
  &__title {
    text-align: center;
    font-size:45px;
  }
  &__paragraph{
    text-align: justify;
  }
}  

.subtitle{
  font-size: 25px;
  text-align: center;
}


.experience{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

 



