.cv__studies{
  margin:50px;
}

.cv__body {
    margin:45px;
}
.cv__title {
    text-align: center;
    font-size:45px;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 4.5s steps(40, end),
      blink-caret .75s step-end infinite;

}
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }

.subtitle{
  font-size: 25px;
  text-align: center;
}

.cv__paragraph{
  text-align: justify;
}

.experience{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

 



