
.name-paragraph{
    font-size: 50px;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 4.5s steps(40, end),
      blink-caret .75s step-end infinite;

}
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }

.button{
    width: 100px;
    height: 50px;
    margin-top: 100px;
    margin-right: 100px;
    background-color: #FFEBCD;
    font-family: 'Quicksand', sans-serif;
    border:2px solid black;
    text-decoration: none;
    color: black;

}