.text {
  text-align: left;
  font-size: 25px;
  .p {
    padding: 0px 0 20px 0;
    visibility: hidden;
    overflow: hidden;
    border-right: 0.15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end 7;
    animation-fill-mode: forwards;
  }
  @keyframes typing {
    0% {
      width: 0;
      visibility: hidden;
    }
    100% {
      width: 100%;
      visibility: visible;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  .p2 {
    animation-delay: 5s;
  }
  .p3 {
    animation-delay: 10s;
  }
  .p4 {
    animation-delay: 15s;
  }
  .p5 {
    animation-delay: 20s;
  }
  .p6 {
    animation-delay: 25s;
  }
  .p7 {
    animation-delay: 30s;
  }
  .p8 {
    animation-delay: 35s;
  }
  .p9 {
    animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite;
    animation-fill-mode: forwards;
    animation-delay: 40s;
  }
}

.fa-smile {
  font-size: 50px;
  text-align: center;
  font-size: 90px;
  visibility: hidden;
  animation: show-smile;
  animation-fill-mode: forwards;
  animation-delay: 45s;
}

@keyframes show-smile {
  0% {
    width: 0;
    visibility: hidden;
  }
  100% {
    width: 100%;
    visibility: visible;
  }
}

.underline {
  text-decoration: underline;
  text-decoration-style: dashed;
}
