@import "/mixins";

.wrapper_projects {
  margin: 20px;
  @include tablet {
    margin: 60px;
  }
  @include desktop {
    margin: 80px;
  }
}

.tech_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__item {
    height: 15px;
    padding: 5px;
    @include tablet {
      height: 25px;
      padding: 10px;
    }
    @include desktop {
      height: 40px;
      padding: 15px;
    }
  }
}

.proyect {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 40px;
  }
  @include desktop {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 40px;
  }
  &__title {
    text-align: center;
  }
  &__list {
    align-items: center;
  }
  &__img {
    width: 250px;
    border: 2px solid black;
    @include tablet {
      width: 300px;
    }
    @include desktop {
      width: 500px;
    }
    &:hover {
      box-shadow: 10px 10px 5px grey;
      -moz-box-shadow: 10px 10px 5px grey;
      -webkit-box-shadow: 10px 10px 5px grey;
      -khtml-box-shadow: 10px 10px 5px grey;
    }
  }
}
