@import "/mixins";

.wrapper_projects {
  margin: 20px;
  @include tablet {
    margin: 60px;
  }
  @include desktop {
    margin: 80px;
  }
}

.tech {
  width: 25px;
  @include desktop {
    width: 50px;
  }
}

.proyect {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    display: grid;
    grid-template-columns: auto auto;
  }
  padding: 20px;
  &__title {
    text-align: center;
  }
  &__list {
    align-items: center;
  }
  &__img {
    width: 250px;
    border: 2px solid black;
    @include desktop {
      width: 500px;
    }
  }
}
