@import "/mixins";

.tech {
  width: 25px;
  @include desktop {
    width: 50px;
  }
}

.proyect {
  padding: 20px;
  &__title {
    text-align: center;
  }
  &__list {
    display: grid;
    grid-template-columns: auto;
    @include desktop {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
  &__img {
    width: 250px;
    border: 2px solid black;
    @include desktop {
      width: 500px;
    }
  }
}
